body {
    margin: 0;
}
.table{
    margin: 0 auto;
    max-height: 400px;
    background-color: #fff;
    width: 600px;
}
.table td{
    display: inline-block;
}
.sloy1{
    margin-top: 30px;
    margin-left: 20px;
}
.main-logo a{
    margin-top: 30px;
    width: 100%;
    background-size: cover;
}
.phone p{
    margin-left: 240px;
}
.phone a{
    margin: 0;
    display: table;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #2d3235;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}
.hello{
    text-align: center;
    background-image: url(/img/style.jpg);
}
.hello h1{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 21px;
    color: #393d98;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}
.hello h2{
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 21px;
    color: #393d98;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}
.hello p{
    margin: 0 auto;
    width: 400px;
    height: 40px;
    font-size: 18px;
    color: #748098;
    font-family: "Arial";
    text-align: center;
}
.name{
    background-color: #f6fafb;
}
.name p{
    margin-left: 30px;
    text-align: left;
}
.name b{
    color: #3c465c;
    font-weight: 18px;
    font-family: "Arial";
}
.name i{
    color: #748098;
}
.name a{
    color: #748098;
    font-family: "Arial";
}
.ditail{
    height: 104px;
    width: 600px;
    background-image: url(https://raw.githubusercontent.com/OleksandrIsaev/heshteg/master/img/sloy2.png);
}
.ditail h3{
    margin-left: 30px;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #f6fafb;
    text-align: left;
    font-weight: bold;
    font-family: "Arial";   
}
.academy{
    text-align: center;
}
.academy h4{
    margin-top: 45px;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 6px;
    color: #393d98;
    font-weight: bold;
    font-family: "Arial";
}
.webdiz b,
.webdiz1 b,
.webdiz2 b{
    display: inline-block;
    margin-left: 20px;
}
.webdiz{
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block;
    width: 541px;
    height: 61px;
    background-image: url(https://raw.githubusercontent.com/OleksandrIsaev/heshteg/master/img/sloy3.png);
    background-size: cover;
}
.webdiz1{
    display: block;
    margin-left: 30px;
    margin-top: 20px;
    width: 541px;
    height: 61px;
    background-image: url(https://raw.githubusercontent.com/OleksandrIsaev/heshteg/master/img/sloy3.png);
    background-size: cover;
}
.webdiz2{
    display: block;
    margin-left: 30px;
    margin-top: 20px;
    width: 541px;
    height: 61px;
    background-image: url(https://raw.githubusercontent.com/OleksandrIsaev/heshteg/master/img/sloy3.png);
    background-size: cover;
}
.webdiz h5,
.webdiz1 h5{
    margin: 20px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1px;
    color: #3c465c;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;  
}
.webdiz2 h5{
    margin: 9px 0px 8px 17px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1px;
    color: #3c465c;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;  
}
.webdiz a,
.webdiz1 a,
.webdiz2 a{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 6px;
    color: #366cd4;
    font-family: "Arial";   
}
.webdiz a{
    margin-left: 140px;
}
.webdiz1 a{
    margin-left: 90px;
}
.webdiz2 a{
    margin-left: 120px;
}
.social{
    margin-top: 28px;
    margin-left: 420px;
    text-align: right;
}
.social a{
    margin: 10px;
}
.social p{
    font-size: 12px;
    line-height: 6px;
    color: #3c465c;
    font-family: "Arial";
    text-align: center;
}




