body {
    margin: 0;
}
.table{
    margin: 0 auto;
    max-height: 400px;
    background-color: #fff;
    width: 600px;
}
.brgin{
    margin-top: 30px;
}
.phone p{
    margin-right: 30px;
}
.toptop{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}
.table2 a{
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #2d3235;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}
.table2{
    display: inline-block;
}
.table2 a{
    display: table;
}
.fonyk{
    margin-top: 20px;
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/OleksandrIsaev/heshteg/master/img/style.jpg);
    vertical-align: top;
}
.hello h1{
    padding-top: 10px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #393d98;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}
.hello h2{
    font-size: 24px;
    letter-spacing: 1px;
    color: #393d98;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}
.fonyk i{
    margin: 0 auto;
    width: 400px;
    height: 40px;
    font-size: 18px;
    color: #748098;
    font-family: "Arial";
    text-align: center;
    font-style: normal;
}
.fonyk p{
    margin-bottom: 40px;
    margin-left: 30px;
    width: 570px;
    text-align: left;
    font-size: 18px;
}
.name b{
    color: #3c465c;
    font-weight: 18px;
    font-family: "Arial";
}
.name i{
    font-size: 15px;
    font-style: italic;
    color: #748098;
}
.name a{
    color: #748098;
    font-family: "Arial";
}
.ditail{
    margin-left: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    width: 600px;
    background-image: url(https://raw.githubusercontent.com/OleksandrIsaev/heshteg/master/img/sloy2.png);
    background-repeat: no-repeat;
}
.ditail h3{
    margin: 20px;
    font-size: 24px;
    letter-spacing: 1px;
    color: #f6fafb;
    text-align: left;
    font-weight: bold;
    font-family: "Arial";   
}
.academy{
    text-align: center;
}
.academy h4{
    margin-top: 45px;
    font-size: 25px;
    letter-spacing: 1px;
    color: #393d98;
    font-weight: bold;
    font-family: "Arial";
}
.webdiz b,
.webdiz1 b,
.webdiz2 b{
    display: inline-block;
    width: 50px;
    margin-top: 2px;
    margin-left: 12px;
}
.webdiz b{
    width: 40px;
}
.webdiz{
    margin-left: 30px;
    margin-bottom: 21px;
    border-radius: 5px;
    width: 540px;
    height: 60px;
    background-color: #eaeaea;
}
.webdiz1{
    margin-left: 30px;
    margin-bottom: 21px;
    border-radius: 5px;
    width: 540px;
    height: 60px;
    background-color: #eaeaea;
}
.webdiz2{
    margin-left: 30px;
    border-radius: 5px;
    width: 540px;
    height: 62px;
    background-color: #eaeaea;
}
.webdiz i{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1px;
    color: #3c465c;
    font-weight: bold;
    font-family: "Arial"; 
    font-style: normal;
}
.webdiz1 i{
    font-size: 20px;
    letter-spacing: 1px;
    color: #3c465c;
    font-weight: bold;
    font-family: "Arial";
    font-style: normal;  
}
.webdiz2 i{
    font-size: 20px;
    letter-spacing: 1px;
    color: #3c465c;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;  
    font-style: normal;
}
.webdiz a,
.webdiz1 a,
.webdiz2 a{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    color: #366cd4;
    font-family: "Arial";   
}
.webdiz1 a,
.webdiz2 a,
.webdiz a{
   float: right;
   margin-right: 20px;
}
.social{
    margin-top: 28px;
    text-align: right;
}
.social a{
    margin-right: 10px;
}
.social p{
    margin-top: 20px;
    margin-right: 30px;
    font-size: 12px;
    color: #3c465c;
    font-family: "Arial";
    text-align: right;
}




